@model musicstore.Trans_M

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Trans_M</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransaDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransaDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.MemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.MemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalTrans)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalTrans)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
