@model MusicStoreClient.Models.credit

@{
    ViewBag.Title = "postcredit";
}

<h2>postcredit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>credit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.creditId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creditId)
            @Html.ValidationMessageFor(model => model.creditId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberId)
            @Html.ValidationMessageFor(model => model.MemberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemId)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.creditke)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creditke)
            @Html.ValidationMessageFor(model => model.creditke)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.creditDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creditDate)
            @Html.ValidationMessageFor(model => model.creditDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
