@model musicstore.credit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>credit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.MemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.MemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creditke)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creditke)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creditDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creditDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
