@model musicstore.credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>credit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.MemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.MemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creditke)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creditke)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creditDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creditDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.creditId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
