@model musicstore.Trans_d

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Trans_d</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Trans_M.TransId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Trans_M.TransId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.qnt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.qnt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pricemethod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pricemethod)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "indexx","TransM")
    </p>
}
