@model ResidentsDuesApp.House

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>House</legend>

        @Html.HiddenFor(model => model.HouseID)

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Block, new { style = "font-size:20px" })</td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.Block, new { @class="form-control", @placeholder="A/B/C", style = "width:100px "})
                    @Html.ValidationMessageFor(model => model.Block)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.HouseNumber, new { style="font-size:20px"}) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.HouseNumber, new { @class="form-control", @placeholder="00-99", style = "width:100px "})
            @Html.ValidationMessageFor(model => model.HouseNumber)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.emty, new { style="font-size:20px"}) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.emty, new { @class="form-control", @placeholder="0(Yes) / 1(No)", style = "width:200px "})
            @Html.ValidationMessageFor(model => model.emty)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.phone, new { style="font-size:20px"}) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.phone, new { @class="form-control", @placeholder="XXXX-XXXX-XXXX", style = "width:200px "})
            @Html.ValidationMessageFor(model => model.phone)
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
