@model IEnumerable<MusicStoreClient.Models.trans_m>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransaDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTrans)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransaDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTrans)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.TransId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransId })
        </td>
    </tr>
}

</table>
