@model ResidentsDuesApp.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        @Html.HiddenFor(model => model.PeopleID)

        <table>
            <tr>
                <td> @Html.LabelFor(model => model.IDCard, new { style = "font-size:20px" }) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.IDCard, new { @class="form-control", @placeholder="...", style = "width:200px "})
                    @Html.ValidationMessageFor(model => model.IDCard)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Name, new { style = "font-size:20px" }) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @class="form-control", @placeholder="...", style = "width:250px "})
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Age, new { style = "font-size:20px" }) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.Age, new { @class="form-control", @placeholder="...", style = "width:100px "})
                    @Html.ValidationMessageFor(model => model.Age)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.HouseID, "House", new { style = "font-size:20px" }) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.DropDownList("HouseID", (IEnumerable<SelectListItem>)ViewBag.HouseID, new {@class="form-control"})
                    @Html.ValidationMessageFor(model => model.HouseID)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.BirthDate, new { style = "font-size:20px" }) </td>
                <td style="width:50px; text-align:center"> : </td>
                <td>
                    @Html.TextBoxFor(model => model.BirthDate, new { @class="form-control", @placeholder="...", style = "width:200px "})
                    @Html.ValidationMessageFor(model => model.BirthDate)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
