@model ResidentsDuesApp.Expenditure

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset style="font-size:16px;">
    <legend>Expenditure</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpenditureDate)   :
         @Model.ExpenditureDate.Value.ToString("dd MMMM yyyy")
    </div>
    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Expenditure1)  :
         @Html.DisplayFor(model => model.Expenditure1)
    </div>
    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fee)   :
         @Html.DisplayFor(model => model.Fee)
    </div>
    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-danger" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
