@model IEnumerable<ResidentsDuesApp.Expenditure>
@using ResidentsDuesApp.Models;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<h2>Data Pengeluaran</h2>
<br />
<div class="form-group">
    <label class="col-xs-12 col-sm-1 control-label">Periode</label>
    <div class="col-xs-12 col-sm-2">
      @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewBag.listbulan, new { @class= "form-control", @id="Month"})
    </div>
    <div class="col-xs-12 col-sm-2">
        @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewBag.listyear, new { @class= "form-control", @id="year"})
    </div>
    <div class="col-xs-12 col-sm-2">
        <input type="button" class="btn btn-primary" value="Filter"  onclick="CaribyPeriode()" />
    </div>
</div>
@*<div id="form-input">
    @{Html.RenderAction("CreatePartial","");}
</div>*@
@{
    WebGrid grid = new WebGrid(Model,
        null,
        null,
        10,
        true,
        true,
        null,
        null,
        null,
        null,
        null,
        null,
        null);
    }
@grid.GetHtml(
tableStyle: "table table-hover",

columns : new[]{
    grid.Column("ExpenditureID","ID"),
    grid.Column("ExpenditureDate","Tanggal"),
    grid.Column("Expenditure1","Pengeluaran"),
    grid.Column("Fee","Biaya"),
    grid.Column("",
        header:"Actions",
        format:@<text>
                    <a onclick="Edit(@item.ExpenditureID)">Edit</a> |
                    @Html.ActionLink("Delete","Delete",new{id=item.ExpenditureID})
                </text>
    )
})


<p>
    <a onclick="createpartial()">Pengeluaran Baru</a>
</p>

@* Modal Form *@
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Data</h4>
            </div>
            <div id="modal-body">

            </div>
        </div>                 
    </div>
  </div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        function createpartial() {
            $.ajax({
                url : "Expenditure/CreatePartial",
                type: "GET",
                success: function (data) {
                    $('#modal-body').html(data);
                    $('#txttanggal').datepicker({});
                    $('#myModal').modal('show');
                }
            });
        }

        function Edit(id) {
            $.ajax({
                url: "Expenditure/EditPartial/"+id,
                type: "GET",
                success: function (data) {
                    $('#modal-body').html(data);
                    $('#txttanggal').datepicker({});
                    $('#myModal').modal('show');
                }
            });
        }

        function CaribyPeriode() {
            window.location= "/Expenditure/Index/"+$('#Month').val() +  $('#year').val();
            //alert($('#Month').val() +  $('#year').val());
        }

    </script>
}

