@model IEnumerable<MvcCobaLogin.Anak>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnakName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnakName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnakId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnakId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnakId })
        </td>
    </tr>
}

</table>
